<template>
  <div class="BookView">
    <div class="box">
      <h1>Libros</h1>
      <BookComponent 
        v-for="book, index in books"
        v-bind:key="index"
        :book="book"
        @add-book="addBookToCart"
      />
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { defineComponent } from "vue";

import BookComponent from "@/components/BookComponent.vue";

export default defineComponent({
  components: {
    BookComponent,
  },
  data() {
    return {
      books: [],
    }
  },
  methods: {
    getBooks: function () {
      axios.get (
        `https://lib-store-backend.herokuapp.com/books/`
      ).then((response) => {
        this.books = response.data;
      })
      .catch((error) => {
        if (error.response.status === 401) {
          this.$router.push({ path: "/" });
        }
      });
    },
    addBookToCart: function (book) {
      axios.post(
        `http://lib-store-backend.herokuapp.com/client/cart/add-book/${book.id}/`,
        {}, { headers: { Authorization: `Bearer ${localStorage.getItem("access")}`}}
      ).then((response) => {
        alert("Elemento añadido al carrito");
        console.log(response);
      })
      .catch((error) => {
        if (error.response.status === 401) {
          this.$router.push({ path: "/" });
        }
      });
    },
  },
  beforeMount() {
    this.getBooks();
  },
});
</script>

<style>
.BookView {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
</style>
