<template>
<div class="cart">
  <div class="box">
    <h1>Carrito</h1>
    <p v-if="!hasCart">¡No tienes un carrito!</p>
    <button v-if="!hasCart" @click="createCart">Crear carrito</button>
    <div v-if="hasCart"> 
      <p>Código del carrito: {{cartInformation.id}}</p>
      <p>{{cartInformation.date}}</p>
      <div class="container" v-if="cartItems.length > 0">
        <CartItemComponent 
          v-for="item, index in cartItems"
          v-bind:key="index"
          :cartItem="item"
        />
      </div>
      <p>Valor total del carrito: ${{cartInformation.total_value}}</p>
      <button @click="deleteCart">Eliminar todo el carrito</button>
    </div>
  </div>
</div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import axios from "axios";

import CartItemComponent from "@/components/CartItemComponent.vue";

export default defineComponent({
  name: "cart",
  components: {
    CartItemComponent,
  },
  data: function() {
    return {
      hasCart: false,
      cartData: {},
      cartInformation: {},
      cartItems: []
    }
  },
  methods: {
    getClientCart: function() {
      axios.get (
        `https://lib-store-backend.herokuapp.com/get-cart-information/${this.$route.params.email}/`,
        { headers: { Authorization: `Bearer ${localStorage.getItem("access")}`}}
      ).then((response) => {
        this.cartData = response.data;
        this.cartInformation = this.cartData.cartInformation;
        this.cartItems = this.cartData.items;
        this.hasCart = true;
      })
      .catch((error) => {
        if (error.response.status === 401) {
          this.$router.push({ path: "/" });
        } else if (error.response.status === 404) {
          console.log("The user does not have a cart");
          this.hasCart = false;
        }
      });
    },
    createCart: function () {
      axios.post (
        `https://lib-store-backend.herokuapp.com/create-cart/${this.$route.params.email}/`,
        {
          "date": new Date().toJSON().substring(0, 10),
          "total_value": 0
        },
        { headers: { Authorization: `Bearer ${localStorage.getItem("access")}`}}
      ).then((response) => {
        console.log(response);
        alert("¡Carrito creado!");
        this.$router.go();
      })
      .catch((error) => {
        console.log(error);
      });
    },
    deleteCart: function () {
      axios.delete(
        `https://lib-store-backend.herokuapp.com/delete-cart/${this.$route.params.email}`,
        { headers: { Authorization: `Bearer ${localStorage.getItem("access")}`}}
      ).then((response) => {
        alert("¡Carrito eliminado!");
        this.$router.go();
      })
      .catch((error) => {
        console.log(error);
      });
    },
  },
  beforeMount() {
    this.getClientCart();
  },
});
</script>

<style scoped>
.cart {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
</style>
