<template>
<div class="ChangePassword">
  <div class="box">
    <h1>Cambiar contraseña</h1>
    <p>Ingresa la siguiente información para cambiar tu contraseña:</p>
    <form @submit.prevent="changeClientPassword">
      <label for="oldPassword">Antigua contraseña</label>
      <input type="password" id="oldPassword" v-model="oldPassword">
      <label for="newPassword">Nueva contraseña</label>
      <input type="password" id="newPassword" v-model="newPassword">
      <button type="submit">Cambiar mi contraseña</button>
    </form>
  </div>
</div>
</template>

<script>
import { defineComponent } from "vue";
import axios from "axios";

export default defineComponent({
  name: "change-password",
  data: function () {
    return {
      oldPassword: "",
      newPassword: "",
    }
  },
  methods: {
    changeClientPassword: function () {
      axios.put(
        `https://lib-store-backend.herokuapp.com/client/change-password/`,
        {
          "new_password": this.newPassword,
          "old_password": this.oldPassword,
        },
        { headers: { Authorization: `Bearer ${localStorage.getItem("access")}`}}
      ).then((response) => {
        alert("Contraseña cambiada correctamente");
        this.$router.push({ path: '/' });
      })
      .catch((error) => {
        console.log(error);
        alert("Tu contraseña anterior es incorrecta");
      });
    },
  },
});
</script>

<style scoped>
.ChangePassword {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
}
form label {
  text-align: start;
}
</style>
