<template>
  <div class="clientView">
    <main class="mainClientView">
      <div class="box">
        <h2>Bienvenido {{client.name}}</h2>
        <router-link :to="cartRoute" class="button">Ir a tu carrito</router-link>
        <router-link to="/books" class="button">Ver libros</router-link>
        <br>
        <router-link :to="changePasswordRoute">Cambiar contraseña</router-link>
      </div>
    </main>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import axios from "axios";

export default defineComponent({
  name: "clientView",
  data: function() {
    return {
      client: {
        name: "",
        email: this.$route.params.email,
      },
      cartRoute: `/client/${this.$route.params.email}/cart`,
      changePasswordRoute: `/client/${this.$route.params.email}/change-password`,
    }
  },
  methods: {
    getUserInformation: function () {
      axios.get(
        `https://lib-store-backend.herokuapp.com/get-client/${this.$route.params.email}`,
        { headers: { Authorization: `Bearer ${localStorage.getItem("access")}`}}
      ).then((response) => {
        this.client = response.data;
      })
      .catch((error) => {
        console.log(error);
      });
    },
  },
  beforeMount() {
    this.getUserInformation();
  },
});
</script>

<style scoped>
.mainClientView {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
</style>
