<template>
  <div class="home">
    <header>
      <h1>Libstore</h1>
      <h2>Tu tienda de libros</h2>
    </header>
    <main class="homeMain">
      <div class="box">
        <router-link to="/user/login" class="button">Ingresar</router-link>
        <router-link to="/user/signup" class="button">Registrarme</router-link>
      </div>
    </main>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import axios from "axios";

export default defineComponent({
  name: "home",
  data: function() {
    return {
      email: "",
      password: "",
    }
  },
  methods: {
    loginUser: function () {
      console.log(this.email);
      console.log(this.password);
      axios.post(
        "https://lib-store-backend.herokuapp.com/login/",
        { email: this.email, password: this.password }
      ).catch((error) => {
        console.log(error);
      });
    },
  }
});
</script>

<style scoped>
.home {
  display: flex;
  flex-direction: column;
  padding: 5em;
}
.homeMain {
  display: flex;
  justify-content: center;
}
.box {
  display: flex;
  flex-direction: column;
  width: 30em;
  padding: 1em;
  margin: 1em 3em;
  
  background: transparent;
  border-radius: 15px;
}

h1 {
    margin: 0;
    font-weight: bolder;
}
h2 {
    margin: 0;
}
.box .button {
  appearance: button;
  text-decoration: none;
  color: initial;
  align-self: center;
  border: none;
  padding: 0.5em;
  border-radius: 15px;
  margin: 1em;
  background: hsla(0, 0%, 95%, 1);
  box-shadow: 0 4px 0 0 gray;

  font-size: 12pt;
  font-family: 'ABeeZee';
  width: 10em;

  transition: all 0.1s;
}
.box .button:active {
  box-shadow: none;
  transform: translateY(4px);
}
</style>
