<template>
  <div class="login">
    <header>
      <h1>Libstore</h1>
      <h2>Tu tienda de libros</h2>
    </header>
    <main class="loginMain">
      <div class="box mainMenu">
        <h3>Bienvenido</h3>
        <form @submit.prevent="loginUser">
          <label>
            Correo
          </label>
          <input type="email" placeholder="correo@email.com" v-model="email">
          <label>
            Contraseña
          </label>
          <input type="password" placeholder="tu contraseña..." v-model="password">
          <button type="submit">Ingresar</button>
          <router-link to="/user/signup">Crear cuenta</router-link>
        </form>
      </div>
    </main>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import axios from "axios";

export default defineComponent({
  name: "login",
  data: function() {
    return {
      email: "",
      password: "",
    }
  },
  methods: {
    loginUser: function () {
      axios.post(
        "https://lib-store-backend.herokuapp.com/login/",
        { email: this.email, password: this.password }
      ).then((response) => {
        const data: any = response.data;
        localStorage.setItem("isAuthenticated", "true");
        localStorage.setItem("email", this.email);
        localStorage.setItem("access", data.access);
        localStorage.setItem("refresh", data.refresh);
        alert("User logged!")
        this.$router.push({ path: `/client/${this.email}` });
      })
      .catch((error) => {
        alert("El usuario no se encuentra, ¡deberías crear una cuenta!");
        console.log(error);
      });
    }
  }
});
</script>

<style scoped>
.login {
  display: flex;
  flex-direction: column;
  padding: 5em;
}
.loginMain {
  display: flex;
  justify-content: center;
}
.box {
  width: 30em;
  padding: 1em;
  margin: 1em 3em;
  
  background: var(--foreground);
  color: var(--background);
  border-radius: 15px;
}

h1 {
    margin: 0;
    font-weight: bolder;
}
h2 {
    margin: 0;
}
form {
  display: flex;
  flex-direction: column;
  border: none;
}
form input {
  font-family: 'Space Mono', monospace;
  padding: 0.5em;
  margin: 0.5em 0;
  border-radius: 10px;
  border: none;
  
  background: hsla(0, 0%, 90%, 1);
}
form label {
  text-align: left;
}
form button {
  align-self: center;
  border: none;
  padding: 0.5em;
  border-radius: 15px;
  margin: 1em;
  box-shadow: 0 4px 0 0 gray;

  font-size: 12pt;
  font-family: 'ABeeZee';
  width: 10em;

  transition: all 0.1s;
}
form button:active {
  box-shadow: none;
  transform: translateY(4px);
}
</style>
