<template>
  <div class="signup">
    <header>
      <h1>Libstore</h1>
      <h2>Tu tienda de libros</h2>
    </header>
    <main class="signupMain">
      <div class="box mainMenu">
        <h3>¡Es un placer recibirte!</h3>
        <form @submit.prevent="signupUser">
          <label>
            Nombre
          </label>
          <input type="text" placeholder="Mi nombre es..." v-model="name">
          <label>
            Correo
          </label>
          <input type="email" placeholder="micorreo@súpercorreo.com" v-model="email">
          <label>
            Dirección
          </label>
          <input type="text" placeholder="Cra 1# 2 - 3" v-model="address">
          <label>
            Teléfono
          </label>
          <input type="text" placeholder="0123456789" v-model="phone">
          <label>
            Contraseña
          </label>
          <input type="password" placeholder="No se la diremos a nadie 🤫" v-model="password">
          <button type="submit">¡Registrarme!</button>
        </form>
      </div>
    </main>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import axios from "axios";

export default defineComponent({
  name: "signup",
  data: function() {
    return {
      name: "",
      email: "",
      address: "",
      phone: "",
      password: "",
    }
  },
  methods: {
    signupUser: function () {
      axios.post(
        "https://lib-store-backend.herokuapp.com/create-client/", {
          "name": this.name,
          "password": this.password,
          "email": this.email,
          "address": this.address,
          "phone": this.phone,
      })
      .then((response) => {
        if(response.status === 201) {
          const data: any = response.data;
          localStorage.setItem("isAuthenticated", "true");
          localStorage.setItem("email", this.email);
          localStorage.setItem("access", data.access);
          localStorage.setItem("refresh", data.refresh);
          alert("Registro exitoso 🎉🎉🎉");
          this.$router.push({ path: '/user/login/' });
        }
      })
      .catch((error) => {
        console.log(error);
      });
    }
  }
});
</script>

<style scoped>
.signup {
  display: flex;
  flex-direction: column;
  padding: 5em;
}
.signupMain {
  display: flex;
  justify-content: center;
}
.box {
  width: 30em;
  padding: 1em;
  margin: 1em 3em;
  
  background: var(--foreground);
  color: var(--background);
  border-radius: 15px;
}

h1 {
    margin: 0;
    font-weight: bolder;
}
h2 {
    margin: 0;
}
form {
  display: flex;
  flex-direction: column;
  border: none;
}
form label {
  text-align: left;
}
form button {
  align-self: center;
  border: none;
  padding: 0.5em;
  border-radius: 15px;
  margin: 1em;
  box-shadow: 0 4px 0 0 gray;

  font-size: 12pt;
  font-family: 'ABeeZee';
  width: 10em;

  transition: all 0.1s;
}
form button:active {
  box-shadow: none;
  transform: translateY(4px);
}
</style>
