<template>
<div class="BookComponent">
  <div class="container">
    <h3>{{book.title}}</h3>
    <p>{{book.abstract}}</p>
    <p>{{book.category}}</p>
    <button @click="$emit('add-book', book)">Añadir al carrito</button>
  </div>
</div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    book: Object,
  },
  emits: ['add-book'],
});
</script>

<style scoped>
.BookComponent {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 0.5em 0;
}
</style>
