<template>
<div class="CartComponent">
  <p>Item #{{cartItem.id}}</p>
  <p>{{cartItem.title}}</p>
  <p>${{cartItem.value}}</p>
</div>
</template>

<script>
import axios from "axios";
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    cartItem: Object,
  },
  methods: {
    deleteCart: function () {
      axios.delete(
        `https://lib-store-backend.herokuapp.com/delete-cart/${this.cart.id}`,
        { headers: { Authorization: `Bearer ${localStorage.getItem("access")}`}}
      ).then((response) => {
        console.log(response);
      })
      .catch((error) => {
        console.log(error);
      });
    },
  },
});
</script>

<style scoped>
.CartComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(235, 235, 235);
  margin: 0.5em 0;
  padding: 0.5em 0;
  border-radius: 10px;
}
p {
  margin: 0;
}
</style>
