<template>
<div id="app">
  <router-view/>
</div>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Andada+Pro&family=Space+Mono&display=swap');

html {
    background-color: var(--background);

    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

:root {
  --background: #2c3e50;
  --foreground: white;
}

#app {
  font-family: 'ABeeZee', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--foreground);
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: var(--foreground);
}

#nav a.router-link-exact-active {
  color: var(--foreground);
}
.box {
  width: 30em;
  padding: 2em 1em;
  margin: 1em 3em;
  
  background: var(--foreground);
  color: var(--background);
  border-radius: 15px;
}
button {
  text-decoration: none;
  color: initial;
  align-self: center;
  border: none;
  padding: 0.5em;
  border-radius: 15px;
  margin: 1em;
  background: hsla(0, 0%, 95%, 1);
  box-shadow: 0 4px 0 0 gray;

  font-size: 12pt;
  font-family: 'ABeeZee';
  width: 10em;

  transition: all 0.1s;
}
button:active {
  box-shadow: none;
  transform: translateY(4px);
}
.button {
  appearance: button;
  text-decoration: none;
  color: initial;
  align-self: center;
  border: none;
  padding: 0.5em;
  border-radius: 15px;
  margin: 1em;
  background: hsla(0, 0%, 95%, 1);
  box-shadow: 0 4px 0 0 gray;

  font-size: 12pt;
  font-family: 'ABeeZee';
  width: 10em;

  transition: all 0.1s;
}
.button:active {
  box-shadow: none;
  transform: translateY(4px);
}
.container {
  border: 2px solid gray;
  padding: 0.5em 2em;
  margin: 0.5em 2em;
  border-radius: 10px;
}
form input {
  font-family: 'Space Mono', monospace;
  padding: 0.5em;
  margin: 0.5em 0;
  border-radius: 10px;
  border: none;
  
  background: hsla(0, 0%, 90%, 1);
}
</style>
